# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Gradle
.gradletasknamecache
.idea
.gradle
**/build/
!src/**/build/
/src/test/
/src/archive/
out/
bin/
run/

# Project
*.class
.env
.vscode/
.settings/
.classpath
.project